@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400&subset=cyrillic,latin);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin,cyrillic);
.loader-screen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: #0f2647;
  color: #fff;
}
.loader-screen .loader-cont {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 430px;
  margin-left: -215px;
  margin-top: -100px;
  text-align: center;
}
.loader-screen strong {
  display: block;
  font-family: Open Sans Condensed;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  text-align: center;
  position: relative;
  margin-top: 180px;
  -webkit-animation: fade 2s infinite;
  -moz-animation: fade 2s infinite;
  font-weight: bold;
  z-index: 22;
}
.loader-screen .Cube {
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 45px;
  font-family: Arial;
  letter-spacing: -2px;
  font-weight: bold;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s 0.1s;
  transition: transform 0.5s 0.1s;
  perspective: 9999px;
  margin: -40px 0 0 -40px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -37px;
  top: 65px;
  opacity: 1;
  z-index: 21;
}
.loader-screen .Cube.panelLoad {
  z-index: 11;
  top: 50%;
  margin-top: -60px;
  -webkit-animation: panel 3.2s infinite forwards;
  animation: panel 3.2s infinite forwards;
}
.loader-screen .Cube.panelLoad .cube-face {
  color: #0f2647;
  box-shadow: inset 0 0 0 1px #0f2647, 0 0 1px 1px #0f2647;
}
.loader-screen .Cube .cube-face {
  width: inherit;
  height: inherit;
  position: absolute;
  background: #fff;
  box-shadow: inset 0 0 0 1px #fff, 0 0 1px 1px #fff;
  opacity: 1;
}
.loader-screen .Cube .cube-face-front {
  transform: translate3d(0,0,40px);
  -webkit-transform: translate3d(0,0,40px);
}
.loader-screen .Cube .cube-face-back {
  -webkit-transform: rotateY(180deg) translate3d(0,0,40px);
  transform: rotateY(180deg) translate3d(0,0,40px);
}
.loader-screen .Cube .cube-face-left {
  -webkit-transform: rotateY(-90deg) translate3d(0,0,40px);
  transform: rotateY(-90deg) translate3d(0,0,40px);
}
.loader-screen .Cube .cube-face-right {
  -webkit-transform: rotateY(90deg) translate3d(0,0,40px);
  transform: rotateY(90deg) translate3d(0,0,40px);
}
.loader-screen .Cube .cube-face-top {
  -webkit-transform: rotateX(90deg) translate3d(0,0,40px);
  transform: rotateX(90deg) translate3d(0,0,40px);
}
.loader-screen .Cube .cube-face-bottom {
  -webkit-transform: rotateX(-90deg) translate3d(0,0,40px);
  transform: rotateX(-90deg) translate3d(0,0,40px);
}
@-webkit-keyframes panel {
  0% {
    -webkit-transform: rotateY(0deg) rotateZ(0deg);
  }
  20% {
    -webkit-transform: rotateY(90deg) rotateZ(0deg);
  }
  40% {
    -webkit-transform: rotateX(45deg) rotateZ(45deg);
  }
  60% {
    -webkit-transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
  }
  80% {
    -webkit-transform: rotateX(310deg) rotateZ(230deg);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateZ(360deg);
  }
}
@keyframes panel {
  0% {
    -webkit-transform: rotateY(0deg) rotateZ(0deg);
    transform: rotateY(0deg) rotateZ(0deg);
  }
  20% {
    -webkit-transform: rotateY(90deg) rotateZ(0deg);
    transform: rotateY(90deg) rotateZ(0deg);
  }
  40% {
    -webkit-transform: rotateX(45deg) rotateZ(45deg);
    transform: rotateX(45deg) rotateZ(45deg);
  }
  60% {
    -webkit-transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
    transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
  }
  80% {
    -webkit-transform: rotateX(310deg) rotateZ(230deg);
    transform: rotateX(310deg) rotateZ(230deg);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateZ(360deg);
    transform: rotateX(360deg) rotateZ(360deg);
  }
}
