body {
  font-family: "Roboto Condensed";
}

.cube {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -160px;
}

.cube h2 {
  font-weight: bold;
  font-size: 115px;
  text-align: center;
  line-height: 0px;
}

.cube.two {
  left: 50%;
  margin-left: -200px;
}

.cube.three {
  top: 532px;
  left: 50%;
  margin-left: -400px;
}

.rightFace,
.leftFace,
.topFace div {
  padding: 10px;
  width: 180px;
  height: 180px;
}

.rightFace,
.leftFace,
.topFace {
  position: absolute;
  opacity: 0;
}

.leftFace {
  transform: skew(0deg, -30deg);
  background-color: #ccc;
  animation: left 4s 0s infinite; // name animation, duration, type, delay, iteration, direction
}

.rightFace {
  transform: skew(0deg, 30deg);
  background-color: #ddd;
  left: 200px;
  animation: left 3s 1s infinite;
}

.topFace {
  transform: rotate(60deg);
  top: 158px;
  left: 100px;
  animation: left 2s 2s infinite;
}

.topFace div {
  transform: skew(0deg, -30deg) scale(1, 1.16);
  background-color: #eee;
  font-size: 0.8em;
}

@keyframes left {
  0%,
  10% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
  90%,
  100% {
    opacity: 0;
  }
}