.preloader-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 100500
}

.preloader-wrapper .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    border: 4px solid #fff266;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    -webkit-animation: loader 4s infinite ease;
    -moz-animation: loader 4s infinite ease;
    -o-animation: loader 4s infinite ease;
    animation: loader 4s infinite ease
}

.preloader-wrapper .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff266;
    -webkit-animation: loader-inner 4s infinite ease-in;
    -moz-animation: loader-inner 4s infinite ease-in;
    -o-animation: loader-inner 4s infinite ease-in;
    animation: loader-inner 4s infinite ease-in
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    25%,50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }

    100%,75% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-moz-keyframes loader {
    0% {
        -moz-transform: rotate(0);
        transform: rotate(0)
    }

    25%,50% {
        -moz-transform: rotate(180deg);
        transform: rotate(180deg)
    }

    100%,75% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-o-keyframes loader {
    0% {
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    25%,50% {
        -o-transform: rotate(180deg);
        transform: rotate(180deg)
    }

    100%,75% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    25%,50% {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg)
    }

    100%,75% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes loader-inner {
    0%,100%,25% {
        height: 0
    }

    50%,75% {
        height: 100%
    }
}

@-moz-keyframes loader-inner {
    0%,100%,25% {
        height: 0
    }

    50%,75% {
        height: 100%
    }
}

@-o-keyframes loader-inner {
    0%,100%,25% {
        height: 0
    }

    50%,75% {
        height: 100%
    }
}

@keyframes loader-inner {
    0%,100%,25% {
        height: 0
    }

    50%,75% {
        height: 100%
    }
}