.home01{
	/* background: url('../img/bg.jpg') 0 50% fixed no-repeat;*/
	background-size: cover !important;
}
.home01 h1{
	letter-spacing: 15px;
	position: relative;
	text-transform: uppercase;
	font-size: 50px;
	line-height: 57px;
	display: inline-block;
	font-weight: 700;
}
.home01 p{
  color: #fff;
  margin: 30px 0;
  font: bold 20px serif;
  font-style: italic;
}
.home01 h1::after{
	content: '';
	clear: both;
	margin: 0 auto;
	height: 5px;
	width: 95%;
	display: block;
	position: absolute;
	margin-left: 4px;
}
.wrap-bg{
  background: rgba(0,0,0,.5);
}
.to-down-wrap{
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 15%;
	left: 50%;
	-moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.to-down{
    height: 40px;
    width: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    position: relative;
    -webkit-transition: all .8s ease-in-out;
	   -moz-transition: all .8s ease-in-out;
		-ms-transition: all .8s ease-in-out;
		 -o-transition: all .8s ease-in-out;
			transition: all .8s ease-in-out;

}
.to-down span{
	font-size: 30px;
	line-height: 37px;
	position: absolute;
	top: 50%;
	left: 50%;
	color: #fff;
	-moz-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
     -webkit-transition: all .8s ease-in-out;
	   -moz-transition: all .8s ease-in-out;
		-ms-transition: all .8s ease-in-out;
		 -o-transition: all .8s ease-in-out;
			transition: all .8s ease-in-out;
}
.to-down:hover{
	 -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    background: #fff;
}    
.to-down:hover span{
	color: #000;
}
	